<%= form_with(model: contact, local: true) do |form| %>
  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
        <% contact.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label :avatar %>
    <%= form.file_field :avatar %>
  </div>

  <div class="form-group">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :company %>
    <%= form.text_field :company, class: "form-control" %>
  </div>


<div class="form-group">
  <%= form.label :phone %>
  <%= form.fields_for :phones do |phone| %>
    <%= render 'phone_fields', f: phone %>
  <% end %>
  <div class='my-4'>
    <%= link_to_add_association 'Add Phone', form, :phones, class: "btn btn-success btn-sm" %>
  </div>
</div>

<div class="form-group">
  <%= form.label :email %>
  <%= form.fields_for :emails do |email| %>
    <%= render 'email_fields', f: email %>
  <% end %>
  <div class='my-4'>
    <%= link_to_add_association 'Add email', form, :emails, class: "btn btn-success btn-sm" %>
  </div>
</div>

<div class="form-group">
  <%= form.label :address %>
  <%= form.fields_for :addresses do |address| %>
    <%= render 'address_fields', f: address %>
  <% end %>
  <div class='my-4'>
    <%= link_to_add_association 'Add address', form, :addresses, class: "btn btn-success btn-sm" %>
  </div>
</div>
  

  <div class="form-group">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
