<%= render 'layouts/flash' %>

<h1 class="mb-3 h3">Contacts</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Office phone</th>
      <th>Home phone</th>
      <th>Office address</th>
      <th>Home address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.first_name %></td>
        <td><%= contact.last_name %></td>
        <td><%= contact.office_phone %></td>
        <td><%= contact.home_phone %></td>
        <td><%= contact.office_address %></td>
        <td><%= contact.home_address %></td>
        <td><%= link_to 'Show', contact %></td>
        <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
        <td><%= link_to 'Delete', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add Contact', new_contact_path, class: "btn btn-primary", role: "button" %>
