<h1>Contacts List</h1>

<div class="list-group">
  <% @contacts.each do |contact| %>
  <div class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"><%= contact.full_name %> </h5>
      <small><%= link_to 'View', contact, class: "btn btn-outline-info btn-sm", role: "link" %> <%= link_to 'Edit', edit_contact_path(contact), class: "btn btn-outline-warning btn-sm", role: "link" %> <%= link_to 'Delete', contact, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm", role: "link" %></small>
    </div>
  </div>
  <% end %>
</div>
<div class="mt-5">
  <%= link_to 'New Contact', new_contact_path, class: "btn btn-primary" %>
</div>