<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card">
     
      <div class="card-body">
        <div class="media">
          <%= image_tag @contact.my_avatar, class: "mr-3" %>
          
          <div class="media-body">
            <h5 class="mt-0"><%= @contact.full_name %></h5>
            <h6><%= @contact.company %></h6>
            <p class="font-weight-bold">Phones:</p>
            <ul>
            <% @contact.phones.each do |phone| %>
              <li><%= phone.phone_number %></li>
            <% end %>
            </ul>
            <p class="font-weight-bold">Email:</p>
            <ul>
            <% @contact.emails.each do |email| %>
              <li><%= email.my_email %></li>
            <% end %>
            </ul>
            <p class="font-weight-bold">Address:</p>
            <ul>
            <% @contact.addresses.each do |address| %>
              <li><%= address.my_address %></li>
            <% end %>
            </ul>
          </div>
        </div>
      <%= link_to 'Edit', edit_contact_path(@contact) %> |
      <%= link_to 'Back', contacts_path %>
      </div>
   
      
    </div>
  </div>
</div>




